html body{
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
	overflow:hidden;	
}

.modal.in {
   display:block;
}

.vertical-alignment-helper{
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}

.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.modal-content{
    width:inherit;
    height:inherit;
    margin: 0 auto;
    pointer-events: all;
}

.modal-header{
   text-align: center; 
   border: none !important;
}

.modal-footer{
   border: none !important;
}

#container{   
    position: absolute; 
	height: 100%; 
	width: 100%; 
	top: 0px;
	left: 0px;
	overflow: auto;
}