@(message: String)

@main("Wikpedia Graph Visualizer"){
	<!DOCTYPE html>
	<html>
		<head>
			<link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("stylesheets/stylesheet.css")"/>
			<meta charset="utf-8" />
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
			<title>Wikipedia Graph Visualizer</title>
		</head>

		<body>
			<div id="container"> </div>
			<script type='text/javascript' src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
			<script type='Text/javascript' src='@routes.Assets.at("/public/javascripts", "app.js")'></script>
			<script type='Text/javascript' src='@routes.Assets.at("/public/javascripts", "sigma.min.js")'></script>
			<script type='Text/javascript' src='@routes.Assets.at("/public/javascripts", "sigma.layout.forceAtlas2.min.js")'></script>
		</body>
	</html>
}