@main("Index"){
	<div class='modal in' id='seedModal' role='dialog' data-keyboard='false' data-backdrop='static'>
		<div class='vertical-alignment-helper'>
        	<div class='modal-dialog vertical-align-center'>
		  		<div class='modal-dialog '>
		  			<div class='modal-content'>
						<div class='modal-header'>
							<h1 class='modal-title'>Wikipedia Graph Visualizer</h1>
						</div>
						<form class='form-horizontal' method='get' action='@routes.CrawlerController.initSeed()'>
							<div class='form-group'>
								<label class='control-label col-sm-2' for='seed'>Seed:</label>
								<div class='col-sm-8'>          
									<input type='text' class='form-control' name='seed' value='https://en.wikipedia.org/wiki/'/>
								</div>
							</div>
							<div class='form-group'>        
								<div class='col-sm-offset-5 col-sm-10'>
									<button type='submit' class='btn btn-primary'>Submit</button>
								</div>
							</div>
						</form>
					</div>
		  		</div>
	  		</div>
  		</div>
	</div>
}
